 
<div class="container mt-3">
    <h2>Category Name</h2>
    <form action="/action_page.php" class="was-validated">
      
      <div formgroup = "form" >

        <div class="form-group">
          <label for="Id">ID</label>
        <input type="number" class="form-control" [(ngModel)]="Category.id" [ngClass]="{'is-invalid':Submitted}" id="id" placeholder="Enter id" name="id" fromControlName="id" required = "true">
        
        <br>

        <div class="form-group">
        <label for="Category">fill-Category</label>
      <input type="text" class="form-control" id="Category"  [(ngModel)]="Category.categoryName"  placeholder="Enter Category" name="Category" fromControlName="Category" required = "true">          

        <div class="invalid-feedback">Please select a Category</div>
      </div>
      <button type="submit" (click) = "saveCategories()"  class="btn btn-success">Submit</button>
    </div>
  