<div class="col-md-4 mb-3">
    <h2>Category</h2> 

    <div *ngIf ="alert" class="alert alert-info" role="alert">
      <button (click)="closeAlert()" type="button" dismiss-on-timeout="2" class="close" data-dismiss="alert" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Success!</strong> Category name is added.
    </div>   
    <div *ngIf ="deAlert" class="alert alert-danger" role="alert">
      <button (click)="deleteAlert()" type="button"  class="close" data-dismiss="alert" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Deleted!</strong>
    </div>   

        <div class="form-group">
        <label for="Category">Category Name</label>
      <input type="text" class="form-control" id="categoryName"  placeholder="Enter Category" name="categoryName" [formControl]="categoryName" required>              
       <span *ngIf = "categoryName.invalid && (categoryName.dirty || categoryName.touched)" class ="alert-danger">Please select a category</span>
     <br>
      <button type="submit" (click)="saveCategories()" [disabled]="categoryName.invalid" class="btn btn-success">Submit</button>
    </div>
</div>
<div class = "col-md-4 mt-4 mb-4">
   <table class="table table-bordered">
     <thead>
       <tr>
         <th>
           Category Name
         </th>
         <th>
          Actions
        </th>
       </tr>
     </thead>
     <tbody>
      <tr *ngFor ="let user of storedCategories; let i = index">
      <td>
          {{user.categoryName}}            
         </td>
        <td>     
        <button type="button" class="btn btn-success bi bi-pencil" (click)="editCategory(i)"></button> &nbsp;
        <button type="button" class ="btn btn-danger bi bi-trash-fill" (click)="deleteCategory(i)"></button>               
      </td>
    </tr>
     </tbody>
    </table>
    </div>

    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>