 
<div class="container mt-3">
    <h2>Category Name</h2>
    <form action="/action_page.php" class="was-validated">
      
      <div formgroup = "form"></div>
      <div class="form-group" >
        <label for="Category">fill-Category</label>
      <input type="text" class="form-control" id="Category" placeholder="Enter Category" name="Category" fromControlName="Category">          

        <div class="invalid-feedback">Please select a Category</div>
      </div>
      <button type="submit" (click) = "saveCategory()"  class="btn btn-success">Submit</button>
     