<div class="card">
  <br>
  <h2>Inventory List</h2>
     <div class="card-body">
        <table class="table table-primary">
          <thead>  
          <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category Name</th>
                <th>Quantity</th>
                <th>Dateofpurchase</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor = "let items of inventoryList; let i = index">
             <td>{{i+1}}</td>
             <td>{{items.name}}</td>
             <td>{{items.categoryName}}</td>
             <td>{{items.quantity }}</td>
             <td>{{items.dateofPurchase | date : 'mediumDate'}}</td>
            </tr>      
  </tbody>
</table>
  </div>
</div> 